<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level10.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,171},{334,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,79}}</string>
                <key>sourceSize</key>
                <string>{334,79}</string>
            </dict>
            <key>level11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,168},{311,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,81}}</string>
                <key>sourceSize</key>
                <string>{311,81}</string>
            </dict>
            <key>level12.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,2},{330,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,81}}</string>
                <key>sourceSize</key>
                <string>{330,81}</string>
            </dict>
            <key>level13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,84},{327,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,81}}</string>
                <key>sourceSize</key>
                <string>{327,81}</string>
            </dict>
            <key>level14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,2},{324,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,81}}</string>
                <key>sourceSize</key>
                <string>{324,81}</string>
            </dict>
            <key>level15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,2},{328,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,80}}</string>
                <key>sourceSize</key>
                <string>{328,80}</string>
            </dict>
            <key>level16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,85},{328,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,81}}</string>
                <key>sourceSize</key>
                <string>{328,81}</string>
            </dict>
            <key>level17.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{331,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,83}}</string>
                <key>sourceSize</key>
                <string>{331,83}</string>
            </dict>
            <key>level18.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,87},{328,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,82}}</string>
                <key>sourceSize</key>
                <string>{328,82}</string>
            </dict>
            <key>level19.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,87},{330,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,83}}</string>
                <key>sourceSize</key>
                <string>{330,83}</string>
            </dict>
            <key>level20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,168},{334,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,80}}</string>
                <key>sourceSize</key>
                <string>{334,80}</string>
            </dict>
            <key>level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,104},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level.png</string>
            <key>size</key>
            <string>{1928,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cda224346cb940b557129f99b759e98$</string>
            <key>textureFileName</key>
            <string>level.png</string>
        </dict>
    </dict>
</plist>
